<!-- display list of movies as cards -->
<!-- use foreach -->
<!-- component for MovieCard, child components  -->
<!-- HomeComponent (parent) will use MovieCardComponent (child) -->
<!-- pass the data from  parent to child component -->
<!-- @input  MovieCard  -->
<!-- how to get send data/event from child to parent @output -->
<!--  -->
<!-- Directives -->
<div class="rounded">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-6 col-lg-3 col-sm-4" *ngFor="let movieCard of movieCards">
                <!-- call our child component -->
                <app-movie-card [movieCard]='movieCard'></app-movie-card>
            </div>
        </div>
    </div>
</div>

